# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
core/local_settings.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# django-extensions local settings
local_settings.py

# VS Code
.vscode/

# JetBrains IDEs
.idea/
